/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

form {
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#ticketContainer {
    display: none;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}


.banner{
    position: relative;
    display: inline-block;
    width: 100%; /* set your desired width */
    height: 70px; /* set your desired height */
    text-align: center;
    background-color: #0e1e42;
}
footer{
    background-color:#0e1e42;
    height:70px;
    padding-top:20px;  
}

.container{
    max-width:1180px;
    margin-inline:auto;
    padding-inline:20px;
}
.flex{
    display:flex;
    align-items:center;
    gap:40px;
}
ul{
    list-style: none;
}
.footer{
    margin-top: auto;
    color:white;
}
.footer:hover{
    color:aqua;
    transition: 0.2s ease-out;
}
a{
    text-decoration: none;
    display: inline-block;
}

.content {
    flex-grow: 1;
}